.loginContent {
    min-width: 50%;
    height: 450px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgb(209, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(254, 254, 254);
    margin: 20px 0;
}

.loginContent img {
    width: 45%;
    height:inherit;
    
}

.loginForm {
    width: 50%;
    height: 90%;
    margin-right: 20px;
    box-sizing: border-box;
}
.form p {
    font-size: 1em;
    width: 100%;
}
.welcome {
    font-size: xx-large;
    color:#413c3c;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    display: block;
    
}

.message {
    width: 100%;
    text-align: right;
    color: #2E3192;
    font-family:sans-serif;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.formBody {
    width: 100%;
    box-sizing: border-box;
}

.formBody input, label {
    display: block;
}

label {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    
}

input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
    font-size: 1em;
    padding-left: 5px;
}
input:hover{
    cursor: pointer;
}

.btn {
    background-color: rgb(3, 3, 141);
    border: none;
    color: white;
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 600;
    height: 50px;
    width: 100%;
}
.btn:hover{ 
    cursor: pointer;
    background-color:#4db6f3;
}

.loginBtn {
    width: 30%;
    height: 30px;
    background-color: #2E3192;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}