.footer {
    width: 100%;
    height: 400px;
    background-color: #2E3192;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: white;
    padding: 50px 70px 10px 70px;
}

.footerTop {
    width: 100%;
    height: fit-content;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footerTopLeft {
    width: 48%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}

.footerTopLeft h1 {
    font-family: Clash Display;
    font-size: 2.5em;
}

.footerTopLeft p {
    font-family: Poppins;
    font-size: 0.8em;
}

.footerTopLeft img {
    width: 250px;
    margin-top: 20px;
}

.footerTopRight {
    width: 48%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
}

.footerTopRight p {
    display:flex;
    align-items:center;
}


.FooterImage {
width: 20px;
height: 20px; 
margin-right: 5px;
}
.socialIcons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.socials {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials img {
    width: 20px;
    height: 20px;
}