header {
    align-items: center;
    display: flex;
    background-color: white;
    /* height: 2.8rem; */
    justify-content: space-between;
    /* margin-top: 8vh;
    margin-bottom: 10vh; */
    padding: 10vh 5%;
    position: fixed;
    width: 100%;
    z-index: 10;
}
header img {
    width: 24%;
}
nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 50%;
}
nav ul {
    align-items: center;
    display: flex;
    font-size: 0.94em;
    font-weight: 500;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
header .home-active a,
header .about-active a,
header .contact-active a,
header .courses-active a {
    color: #00AEEF;
}

/* smaller screens */
@media (max-width: 830px) {
    .header nav {
        width: 60%;
    }
}
