* {
  font-family: Poppins;
}

.assessmentPageBody {
  color: #102844;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.assPageLeftBody {
  width: 20%;
  height: 100vh;
  background: linear-gradient(205.17deg, #2e3192 10.93%, #00aeef 116.08%);
  padding: 20px;
  box-sizing: border-box;
}

.assPageRightBody {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
}

.assPageRightSection {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}
.assPageRightSection p {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-right: 100%;
  text-align: left;
  font-size: 16px;
}

.assPageTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.assPageTop h2 {
  margin-right: 100%;
  color: rgba(16, 40, 68, 1);
}

.assPageLower{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  width: 100%;
}
.assPageLower h1 {
  color: rgba(46, 49, 146, 1);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  text-align: left;
}

.assPageLower h2 {
  margin: 0;
  color: rgba(16, 40, 68, 1);
  font-weight: 600px;
}

.assPageLower p {
  margin: 0 0 10px 0;
  color: rgba(16, 40, 68, 1);
}

.assPageLower span {
  text-align: center;
   font-size: 20px;
  font-weight: 700;
}

form {
  width: 100%;
  margin: 0 0 30px 0;
  box-sizing: border-box;
}

.inputType {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 10px 0;
  border: 1px solid rgb(173, 172, 172);
  border-radius: 6px;
  padding: 0 10px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin: 0;
  width: 30px;
  height: 30px;
}
.Ash{
  display: flex;
  flex-direction: column;
  color: rgba(16, 40, 68, 0.7);
  font-size: 1.2em;
}

.text-faint {
  color: #767278;
}
.text-faint span {
  color: #102844;
  margin-left: 4px;
}
.assessmentForm {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 80%;
}
.assessmentForm p {
  display: flex;
  flex-direction: column;
  color: rgba(16, 40, 68, 1);
  font-size: 1.2em;
}
.no-link-style {
  align-self: end;
  text-decoration: none;
}