.directToUnit {
    width: 90%;
    background-color: rgb(230, 226, 226);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 0 10px 0;
        padding: 20px 30px;
    border-radius: 10px;
}

.directToUnit div {
    width: 90%;
    box-sizing: border-box;
}

.hr-lightOrange {
    width: 80%;
    background-color: rgb(249, 218, 160);
    height: 5px;
    border-radius: 5px;
}

.hr-orange {
    width: 20%;
    background-color: orange;
    height: 100%;
    border-radius: 5px;
}

.rightSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}

.rightBodyLow {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  padding-bottom: 50px;
  margin: 20px 0;
}

.rightBodyLow-Right {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.courseDetailsBody {
    width: 80%;
    max-height: calc(100vh - 20px);
    background-color: rgb(238, 236, 236);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.leftNavBar {
    position: absolute;
    left: 10%;
    top: 10px;
    height: 500px;
    width: 15%;
    background-color: blue;
    box-sizing: border-box;
}

.topNavBar {
    width: 82%;
    margin-left: 18.5%;
    align-self: right;
    background-color: red;
    box-sizing: border-box;
    height: 60px;
}

.courseDetailContainer {
    text-align: left;
    width: 82%;
    margin-left: 18.5%;
    align-self: right;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 30px 40px;
    display: flex;
    align-items: self-start;
    gap: 50px;
}

.leftContainer {
    width: 65%;
}

.leftContainer h2 {
    margin: 0;
}

.leftContainer p {
    margin: 0;
}

.border {
    width: 100%;
    min-height: 500px;
    /* border: 3px solid blue; */
    background-color: white;
    box-sizing: border-box;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    padding: 10px;
}

.border p {
    margin: 10px 0;
}

.imageArea {
    color: white;
    width: 873;
    height: 491;
    background-color: black;
    border-radius: 8px;
}

.courseInfo {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
}

.roundedTextBox {
    width: fit-content;
    height: 40px;
    /* margin-top: 15px; */
    padding: 5px 10px;
    background-color: rgb(223, 130, 23);
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

span {
    margin-right: 15px;
}

article {
    margin-top: 10px;
}

.rightContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

.rightContainer div {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomBorder {
    border-bottom: 1.5px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

.bottomBorder p {
    text-align: left;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottomBorder p span {
    text-align: left;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.bottomBorder p img {
  margin-right: 5px;
  width: 30px;
  

}


.rightContainer div > h3 {
    margin: 0;
    font-size: 0.9em;
    text-align: left;
    margin: 0.5em 0 1em 0;
    align-self: flex-start;
    text-align: left;
}

.rightContainer div>p {
    margin: 0;
    font-size: 0.8em;
    text-align: left;
}

.enrollBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 3, 141);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    /* margin: 20px 0; */
    font-weight: 600;
    height: 50px;
    width: 85%;
    box-sizing: border-box;
    text-decoration: none;
}
.enrollBtn:hover{ 
    cursor: pointer;
    background-color:#4db6f3;}



.tags {
width: 255px;
height: 112px;
border-radius:7px;
flex: content;
flex-direction: column;
justify-content: space-between;
}

.tags p {
    width: 100%;
    /* margin-bottom: 10px; */
}

.tags p span {
    width: fit-content;
    padding: 2px 20px;
    border-radius: 5px;
    background-color: rgb(218, 213, 213);
    display: inline;
    flex-direction: column;
    justify-content: space-between;
}

.level {
    width: 60%;
    padding: 2px 10px;
    border-radius: 5px;
    color: rgb(250, 138, 34);
    background-color: rgb(255, 227, 196);
    display: inline;
}
