.studentDashboardBody {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

.leftBodyOO {
  width: 18%;
  height: 100%;
  background: linear-gradient(205.17deg, #2E3192 10.93%, #00AEEF 116.08%);
  padding: 20px;
  box-sizing: border-box;
}

.rightBody {
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
}

.rightSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(239, 239, 239); */
  overflow-y: scroll;
}

.rightBodyTop{
    height: fit-content;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.ps{
    height: 5%;
    width:100%;
    padding: 8px 0;
    box-sizing: border-box;
    display: flex;
    font-weight: 400;
    /* align-items: flex-start;
    justify-content: flex-start;   */
}

.sp p {
  text-align: left;
  font-weight: 900;
}

.rightBodyMiddle {
  margin: 20px 0;
  width: 95%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
}

.courseDetail {
  display: flex;
  height: 150px;
  background-color:rgba(255, 255, 255, 1);
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  margin: 0;
  box-sizing: border-box;
}


.courseDetailing {
  width: 100%;
  height: 95px;
    background-color:rgba(255, 255, 255, 1);
    flex-direction: row;
    justify-content: space-between;
    border-radius: 7px;
    /* padding: 5px; */
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
  }


.detTop {
  /* width: 90%; */
  display: flex;
  gap: 10px;
  align-items: center;
}

.detTopI {
  /* width: 70%; */
  display: flex;
  gap: 5px;
  align-items: center;

}

.detTop p {
  align-items: center;
  display: flex;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;

}

.detTop span {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-left: 8px;
  text-align: left;
}

/* .p3{
  font-family: Poppins;
  font-size: 5px;
  font-weight:50;
  letter-spacing: 0px;
  text-align: left;
} */

.detBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detBottom p {
  display: flex;
  justify-content: flex-end;
}

.imageTag {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(239, 181, 181);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageTagI {
  width: 50px;
  height: 50px;
  border-radius:25%;
  background-color: rgb(239, 181, 181);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}


.horizontalBar {
  height: 5px;
  background-color: rgb(200, 197, 197);
  width: 75%;
  border: 5px;
}

.horizontalBar div {
  width: 50%;
  height: 100%;
    border: 5px;
}

.rightBodyLow {
  width: 97%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  padding-bottom: 50px;
}

.rightBodyLow-Left {
  width: 74%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.rightBodyLow-Left>:first-child {
  display: block;
  width: 100%;
}

.rightBodyLow-Right-SDB {
  width: 24%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.componentCourseA {
    width: 30%;
    /* height: 280px; */
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}

.infoInsert {
  width: fit-content;
  border-radius: 5px;
  background-color: azure;
  position: relative;
  padding: 2px 8px;
  top: 5px;
  left: 1px;
  margin: 0;
}

.unitDetails p {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: left;
  margin: 0;
}

.unitDetails p a {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 120, 0, 1);
  text-decoration: none;
}

.sp {
  font-family: Poppins;
  font-size: 14px;
  font-weight:50px;
  line-height: 15px;
  letter-spacing:2%;
  text-align:center;
  color:#102844;
  justify-content: space-between;
}

.courseImage {
  padding: 0 5px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 145px;
  border-radius: 3px;
  box-sizing: border-box;
}

.courseB-Act {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(252, 247, 247);
  border-radius: 15px;
  margin-top:20px;
  box-sizing: border-box;
}

.student-course-list {
  column-gap: 4.5%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

}
