.landingFive {
    height: fit-content;
    min-width: 100%;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.landingFive h1 {
    color: #2E3192;
    text-align: center;
    font-family: Clash Display;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 40px 0;
}

input {
    border-radius: 10px;
    border: 2px solid #5D5B5B;
    margin-bottom: 40px;
    height: 50px;
}

textarea {
    border-radius: 10px;
    border: 2px solid #5D5B5B;
    margin-bottom: 40px;
    height: 100px;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
}

.contactForm {
    min-width: 95%;
    margin: 200px o;
    box-sizing: border-box;
}

.fullWidth {
    width: 100%;
    box-sizing: border-box;
}

.half1 {
    width: 48%;
    float: left;

}

.half2 {
    width: 48%;
    float: right;
}

input[type="submit"] {
    text-align: center;
    width: 200px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2E3192;
    align-self: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color:#4db6f3;
   
}