.landingTwo {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twoLeft, .twoRight {
    height: 100%;
    width: 49%;
    background-color: white;
    display: flex;
    align-items: center;
}

.leftOne, .leftTwo {
    width: 49%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.leftOne img, .leftTwoTop img, .leftTwoBottom img {
    width: 100%;
    height: 100%;
}

.leftTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.leftTwoTop, .leftTwoBottom {
    width: 100%;
    height: 49%;
    background-color: blue;
}

.twoRightContent {
    height: 80%;
    width: 100%;
}

.knowMoreBtn {
    width: 100px;
    height: 40px;
    border: 1px solid blue;
    border: 5px;
}