.landingThree {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.blueDiv {
    height: 100px;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    align-self: self-end;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #2E3192 100%);
}

.blueDivOne {
    width: 50%;
    height: 70%;
    box-sizing: border-box;
    text-align: left;
}

.blueDivOne h1 {
    color: var(--secondary-colour, #61d2fc);
    font-family: Clash Display;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.blueDivOne p {
    color: var(--gray-6, #F2F2F2);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
}

.blueDivTwo {
    width: 20%;
    height: 70%;
    background-position: right;
    background-repeat: no-repeat;
}

.blueDivTwo a {
    border-radius: 6px;
    border: 1px solid var(--gray-6, #F2F2F2);
    width: 150px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: right;
    background-repeat: no-repeat;
    text-decoration: none;
    background-image: url("../Image/lucide_arrow-up-right.png");
}
.blueDivTwo a:hover{
    cursor: pointer;
    background-color:#2E3192;
    color:white;
    background-image: url("../Image/lucide_arrow-up-right.png");
    background-position: right;
    background-size: contain;
}

.blueDivOne, .blueDivTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}