.landingThree {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.blueDiv {
    height: 250px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    align-self: self-end;
    border-radius: 0px 0px 16px 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #2E3192 100%);
}

.blueDivOne {
    width: 50%;
    height: 70%;
    text-align: left;
}

.blueDivTwo {
    width: 20%;
    height: 70%;
    background-position: right;
    background-repeat: no-repeat;
}

.blueDivTwo a {
    border-radius: 6px;
    border: 1px solid var(--gray-6, #F2F2F2);
    width: 150px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: right;
    background-repeat: no-repeat;
    text-decoration: none;
}

.blueDivOne, .blueDivTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}