.landingTwo {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twoLeft, .twoRight {
    height: 100%;
    width: 49%;
    background-color: white;
    display: flex;
    align-items: center;
}

.leftOne, .leftTwo {
    width: 48%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.leftOne img, .leftTwoTop img, .leftTwoBottom img {
    width: 100%;
    height: 100%;
}

.leftTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.leftTwoTop, .leftTwoBottom {
    width: 100%;
    height: 49%;
    /* background-color: blue; */
}

.twoRightContent {
    height: 80%;
    width: 100%;
    justify-content: center;
    border-radius: 9px;
    text-align: left;
}

.twoRightContent h1 {
    color: #2E3192;
    font-family: Clash Display;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.twoRightContent p {
    color: #343131;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    margin: 3px 5px;
    line-height: 32.5px; /* 162.5% */
}

.buttonDivTwo {
    width: 20%;
    background-position: right;
    background-repeat: no-repeat;
}

.buttonDivTwo a {
    border-radius: 6px;
    border: 1px solid #2E3192;
    color: #2E3192;
    font-family: Roboto;
    width: 150px;
    height: 40px;
    text-align: center;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: right;
    background-repeat: no-repeat;
    text-decoration: none;
    background-image: url("../Image/blue_arrow-up-right.png");
}
.buttonDivTwo a:hover {
    cursor: pointer;
    background-color:#2E3192;
    color: white;
    background-image: url("../Image/lucide_arrow-up-right.png");
    background-position: right;
    background-size: contain;
}