.landingCSS {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeActive {
    color: #00AEEF;
    font-size: 1em;
}

.landingBody {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 50px;
}

